<div id="header"></div>

<div role="main" id="main">
    <div id="login-wrapper"></div>
    <div>
        <div id="details"></div>
    </div>
    <div>
        <div class="banner">
            <h3>Who&apos;s coming?</h3>
        </div>
        <hr>
        <div id="global-attendees"></div>
    </div>
    <div>
        <div class="banner">
            <h3>Possible Times</h3>
            <span class="hint">(Tick the ones you can attend)</span>
        </div>
        <hr>
        <div id="times"></div>
    </div>
    <div>
        <div class="banner">
            <h3>Chat</h3>
        </div>
        <hr>
        <div id="chat"></div>
    </div>

    <hr>

    <div id="finish-button-wrapper"></div>
    <div id="finish-wrapper"></div>
</div>

<div id="footer"></div>
