<div class="time-details">
    <input class="tick" type="checkbox">
    <p>
        At <strong><%= timestring %></strong> for
        <strong><%= duration %></strong> minutes on
        <strong><%= datestring %></strong>
    </p>
</div>

<div class="clearfix"></div>

<div class="attendee-details">
    <div class="piechart-wrap"></div>
    <p><strong><%= numAttending %></strong>/<strong><%= total %></strong> can make it</p>
    <div class="expander-wrap"></div>
</div>

<div class="attendees-wrap"></div>
