<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Eventual - Easy Event Planning</title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/tagsinput.css">
    <link rel="stylesheet" href="css/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" href="css/plan.css">

    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>

<body>
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
   chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<script type="text/template" id="main-tmpl">
<div id="header"></div>

<div role="main" id="main">
    <div id="login-wrapper"></div>
    <div id="name">
        <div class="banner">
            <h3>What&apos;s happening?</h3>
        </div>
        <hr>

        <div id="main-details"></div>
    </div>

    <div id="times-wrapper"></div>

    <div id="optional-wrapper"></div>

    <div id="finish-button-wrapper"></div>
    <div id="finish-wrapper"></div>
</div>

<div id="footer"></div>
</script>

<script type="text/template" id="times-tmpl">
    <div class="banner">
        <h3>When can it happen?</h3>
        <input type="button" id="add-time" value="+"></input>
    </div>
    <hr>
    <div id="times"></div>
</script>

<script type="text/template" id="optional-tmpl">
    <div class="banner">
        <h3>Optional</h3>
        <div class="expander-wrap"></div>
    </div>
    <hr>

    <div class="panels">
        <div class="left-panel">
            <input id="location" type=text placeholder="Where is it?"></input>
            <input type="button" id="toggle-map" value="Map"></input>
            <br>
            <span class="hint">A name for the place that your friends will recognise</span>
            <textarea id="description" placeholder="Other details"></textarea>
        </div>

        <div class="right-panel">
            <div id="map-wrap"></div>
        </div>
    </div>
    <hr>
</script>

<script type="text/template" id="time-tmpl">
    <input value="<%= timestring %>" class="start" type="text"> for
    <input class="duration" value="<%= duration %>" type="text"></input> minutes on
    <input value="<%= datestring %>" class="date" type="text"></input>
    <input type="button" class="remove" value="X"></input>
</script>

<script type="text/template" id="finish-tmpl">

</script>

<script type="text/template" id="details-tmpl">
    <form>
        <input type=text placeholder="What's it called?"></input>

        <br>
        <input type=text id="invitees" placeholder="Who's invited?"></input>
        <span class="hint">A comma separated list of names or email addresses</span>
    </form>
</script>

<script src="js/require.js"></script>
<script src="js/requireconf.js"></script>

<script src="js/plan.js"></script>

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
   mathiasbynens.be/notes/async-analytics-snippet -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
