<div class="banner">
    <h3>Optional</h3>
    <div class="expander-wrap"></div>
</div>

<div class="panels">
    <div class="left-panel">
        <input id="location" type=text placeholder="Where is it?"></input>
        <input type="button" id="toggle-map" value="Map"></input>
        <br>
        <span class="hint">A name for the place that your friends will recognise</span>
        <textarea id="description" placeholder="Other details"></textarea>
    </div>

    <div class="right-panel">
        <div id="map-wrap"></div>
    </div>
</div>
