    <div class="left">
        <a href="index.html">
            <div class="logo">Eventual</div>
        </a>
        <% if(page_title){ %>
            <div>&raquo;</div>
        
            <div class="page-title">
                <%= page_title %>
            </div>
        <% } %> 
    </div>

    <nav class="right">
        <a href="plan.html">New Event</a>
        <a href="view.html">View Events</a>

        <a id="login-button">Login/Join</a>
    </nav>

    <div id="login-wrap"></div>

